* {
    background-color: #24273a;
    color: #cad3f5;
    font-family: 'Courier New', Courier, monospace;
}

.backgroundImage {
    background-image: url('media/img/humanoid.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;   
    background-position: center;
    width: 100vw;
    height: 100vh;
}

p {
    text-align: justify;
}

a {
    width:100%;
    background-color: #1e2030;
    opacity: 0.85;
    padding: 0.5em;
    padding-left: 2em;
    margin: 0.5em;
    border-radius: 0.5em;
    text-decoration: none;
    text-align: left;
}

a:hover {
    background-color: #f0c6c6;
    color: #24273a;
}

h1 {
    font-size: 2.5em;
}

.container {
    padding: 2%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    background-color: transparent;
    margin:auto;
    width:100%;
    height: 100vh;
    max-width: 700px;
}

video {
    width: 100%;
    margin:1%;
    padding:0%;
    border-radius: 2em;
}

.wrapper {
    width: 95%;
    margin:auto;
}

.flexContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: flex-start;
    background-color: transparent;
    width:85%;
    max-width: 1300px; 
    margin:auto;
}